#Dinghy
.dinghyrc.local
**/.terraform
**/.terraform.lock.hcl
#**/*.tf.json
**/*.plan
**/stack-info.json
**/*.plan.json
**/*.plan.txt
**/*.tfstate
**/*.backup

# IDE
.idea
.devcontainer.json

# OS
**/.DS_Store
