name: Site CI/CD

on:
  push:
    branches: [main]
    paths:
      - 'src/**'
  workflow_dispatch:

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dinghydev/setup-dinghy@v1
      - run: dinghy check
      - run: dinghy render
  build-and-deploy:
    runs-on: ubuntu-latest
    needs: verify
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ secrets.AWS_DEPLOY_REGION }}
          role-to-assume: ${{ secrets.AWS_DEPLOY_ROLE }}
      - uses: dinghydev/setup-dinghy@v1
        with:
          prepare-images: site
      - run: dinghy site build
      - run: dinghy site deploy
